body h1 {
    color: rgb(163, 228, 41);
    font-size: 150px;
}
    .titulo-principal{
        color: red;
    }
.lista-de-compras {
    font-size: 50px;
    color: blueviolet;
}
.quadrinho{
    font-family: "comic sans MS";
}
.fonte-dh {
    font-family: 'Rajdhani', sans-serif;
font-weight: bold;
}